*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    text-decoration: none;
}

button, .edit_btn, .del_btn, .det_btn{
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.edit_btn{
    background-color: green;
}

.del_btn{
    background-color: red;
}

.det_btn{
    background-color: #ffc801;
}



input[type="submit"] {
    cursor: pointer;
}

.index_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0984e3;
    border-radius: 10px;
    margin: 10px 20px;
}

#darkMode{
    border: none;
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}

.head_name{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

.formArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    /* display: flex;
    flex-direction: column;
    width: 300px; */
    text-align: center;
    margin: 10px 0;
}

.search{
    margin: 10px 0;
    width: 300px;
}

.form input , .form select{
    border: 1px solid #0984e3;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

#submit, .search_btn{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #0984e3;
    padding: 8px;
    font-weight: 700;
}

.form input::placeholder{
    color: #0984e3;
}

.preview{
    display: none;
    width: 150px;
    height: 150px;
    margin: 10px;
}

#result{
    padding: 5px;
    margin: 5px;
    color: #FFD301;
    font-weight: 700;
    background-color: #7BB662;
    max-width: 400px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}


/* TABLE */


table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    width: 1500px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0984e3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:last-child td {
    border-bottom: none;
}

td {
    color: #333;
}

caption {
    caption-side: top;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0984e3;
}


/* PROFESSION FILTER */

.profFilter{
    text-align: center;
    margin-top: 20px;
}

.profFilter p{
    color: #0984e3;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.profFilter select{
    padding: 5px;
    border: 1px solid #0984e3;
    color: #0984e3;
    border-radius: 5px;
}


/* DARK MODE */

.dark{
    background-color: #333;
}

.light{
    background-color: #fff;
}





/* DETAILS PAGE */


.details_head{
    background-color: #0984e3;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.back_link{

}

.back_link a{
    display: inline-block;
    color: yellowgreen;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
}

.back_link a:hover{
    color: #FFD301;
}

.userDetailsImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.userDetailsImg img{
    width: 150px;
    height: 150px;
}

.userDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
    padding: 10px;
}

.userDetails p{
    text-align: left;
    color: #222f3e;
    font-weight: 700;
    text-transform: uppercase;
}

.details_main{
    background: #ff6b6b;
    margin: 10px;
    border-radius: 10px;
}