/* Rəng tonları: #8E44AD(bənövşəyi), #009432(yaşıl), #0652DD(göy), #161617(qara) */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирует карточки по горизонтали */
    align-items: center; /* Центрирует карточки по вертикали в случае необходимости */
    max-width: 700px; /* Ограничивает ширину контейнера для перехода в два ряда */
    margin: 0 auto; /* Центрирует весь контейнер на странице */
}

.card{
    flex: 1 1 45%;
    width: 330px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 15px;
}

.card:nth-child(1){
    background-color: #8E44AD;
}

.card:nth-child(2){
    background-color: #009432;
}

.card:nth-child(3){
    background-color: #0652DD;
}

.card:nth-child(4){
    background-color: #161617;
}

.card_chip{
    margin: 35px 0 0 -5px;
}

.card_chip img{
    width: 50px;
    height: 50px;
    padding: 35px 0 0 -5px;
}


.card_name{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.card_number{
    color: #fff;
    font-size: 25px;
    font-weight: 200;
}

.card_content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card_info{
    text-align: center;
    vertical-align: bottom;
}

.card_info_valid{
    font-size: 9px;
    color: #fff;
    font-family: 'Tahoma', sans-serif;

}

.card_info_date{
    color: #fff;
    font-family: 'Tahoma', sans-serif;
}

.card_visa{

}

.card_visa img{
    width: 100px;
    height: 35px;
    margin-right: 18px;
}