*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

.container{
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

/* HEADER START */

header{
  width: 100%;
  height: auto;
  background-color: #0126de;
}

.check_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 16px 0;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
}

.check p{
  color: #fff;
}

.check_text {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 14px;
  background-color: rgb(64,92,230);
  color: #000;
  margin: 0 8px 0 0 ;
}
.check_btn {
  padding: 14px 26px;
  border-radius: 20px;
  border: none;
}

.check_close{
  width: auto;
  height: auto;
  margin-right: 20px;
}

.check_close button{
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.check_close button img{
  width: 100%;
  height: auto;
}

nav{
  background-color: #f5ede7;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav_left, .nav_right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.nav_left a, .nav_right a{
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.nav_left{
  width: 30%;
  gap: 10px;
  height: auto;
}

.nav_right{
  width: 10%;
  height: auto;
  gap: 10px;
}

.nav_right a{
  width: 45px;
  height: auto
}

.nav_right img{
  width: 100%;
  height: auto;
}

/* HEADER END */

/* HERO SECTION START */

.wrapp_hero{
  background-color: #ffc3a0;
}

.hero_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
}

.hero_left {
  width: 40%;
}

.hero_left h1{
  width: 400px;
  font-size: 76px;
  font-weight: 400;
  line-height: 90px;
  font-family: "Roboto", serif;
  color: #000;
  padding-bottom: 33px;
}

.hero_left p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  width: 420px;
  padding-bottom: 32px;
}

.hero_left button {
  border-radius: 20px;
  padding: 11px 73px;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", serif;
}

.hero_right {
  position: relative;
  width: 60%;
}

.hero_right img{
  width: 100%;
  height: auto;
}

.hero_slider {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.hero_slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero_slider_btn {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.hero_slider_btn button{
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем рамку */
  background: transparent;
  cursor: pointer; /* Устанавливаем курсор указателя */
}

.hero_slider_btn button img{
  width: 100%; /* Изображение будет адаптироваться к размеру кнопки */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Убираем возможные отступы вокруг изображения */
}

/* HERO SECTION END */

/* WORKS SECTION START */

.wrapp_works {
  background-color: #f5eee7;
  height: auto;
  padding: 20px;
}

.works_card {
  width: 100%;
  height: auto;
}

.works_card h2{
  padding: 60px 0;
  font-family: "Roboto", serif;
  font-size: 43px;
  text-align: center;
  font-weight: 400;
}

.our_work_cards{
  display: flex;
  gap: 23px;
  width: 100%;
  height: auto;
}

.our_work_cards_img{
  width: 99px;
  height: 99px;
margin: 0 auto;
}

.our_work_cards img{
  width: 100%;
  height: auto;
}

.our_work_cards h5{
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

.our_work_cards p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.works_card_btn{
  border-radius: 20px;
  padding: 11px 73px;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", serif;
  border: 1px solid #0126DE;
  color: #0126DE;
  margin: 50px 0;

}

/* WORKS SECTION END */