*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

/* HEADER START */

header{
  width: 100%;
  height: auto;
}

.check_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0126de;
  width: 100%;
  height: auto;
  padding: 16px 0;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
}

.check p{
  color: #fff;
}

.check_text {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 14px;
  background-color: rgb(64,92,230);
  color: #000;
  margin: 0 8px 0 0 ;
}
.check_btn {
  padding: 14px 26px;
  border-radius: 20px;
  border: none;
}

.check_close{
  width: auto;
  height: auto;
  margin-right: 20px;
}

.check_close button{
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.check_close button img{
  width: 100%;
  height: auto;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #f5ede7;
}

.nav_left, .nav_right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.nav_left a, .nav_right a{
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.nav_left{
  width: 30%;
  gap: 10px;
  height: auto;
}

.nav_right{
  width: 10%;
  height: auto;
  gap: 10px;
}

.nav_right a{
  width: 45px;
  height: auto
}

.nav_right img{
  width: 100%;
  height: auto;
}

/* HEADER END */

/* KITS AND SLIDER START */

.container_kits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #FFC3A0;
  padding: 10px;
}
.kits_left {

}

.kits_left h1{
}

.kits_left p{
}

.kits_left button {
}

.kits_right {
}

.slider_img{
  position: relative;
}

.slider_btn{
 position: absolute;
 bottom: 5%;
 right: 3%;
}

.slider_btn button{

}

/* KITS AND SLIDER END */
