*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: auto;
}

main ol{
    width: 400px;
    height: auto;
    margin: 0 auto;
}

main ol li{
    padding: 15px;
    list-style-type: none;
}


main ol li:nth-child(1) { background-color: #000000; }
main ol li:nth-child(2) { background-color: #C0C0C0; }
main ol li:nth-child(3) { background-color: #808080; }
main ol li:nth-child(4) { background-color: #3498db; }
main ol li:nth-child(5) { background-color: #800000; }
main ol li:nth-child(6) { background-color: #FF0000; }
main ol li:nth-child(7) { background-color: #800080; }
main ol li:nth-child(8) { background-color: #FF00FF; }
main ol li:nth-child(9) { background-color: #008000; }
main ol li:nth-child(10) { background-color: #00FF00; }
main ol li:nth-child(11) { background-color: #808000; }
main ol li:nth-child(12) { background-color: #FFFF00; }
main ol li:nth-child(13) { background-color: #000080; }
main ol li:nth-child(14) { background-color: #0000FF; }
main ol li:nth-child(15) { background-color: #008080; }
main ol li:nth-child(16) { background-color: #00FFFF; }


main ol li:nth-child(n+1):nth-child(-n+7) { 
    color: white; 
}
main ol li:nth-child(n+8):nth-child(-n+12) { 
    color: black;
}
main ol li:nth-child(odd):nth-child(n+8):nth-child(-n+12) { color: white; }  /* (8, 10, 12) */
main ol li:nth-child(even):nth-child(n+8):nth-child(-n+12) { color: black; } /*(9, 11) */

main ol li:nth-child(n+13):nth-child(-n+15) { color: white; }
main ol li:nth-child(16) { color: black; } 